body {
    background-color: #333;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #555;
    color: #ccc;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

button:hover {
    background-color: #666;
}
