<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="flex-container">
        <h1>Please log in</h1>
        <a href="/authenticate"><button>Login with Google</button></a>
    </div>
</body>
</html>
